@import "variables.scss";

.advantages__wrap {
  display: flex;
  flex-direction: column;
  }

.advantages__item {
  position: relative;
  margin-bottom: 10px;
}

.advantages__item:first-child {
  margin-top: 12px;
}

.advantages__item:last-child {
  margin-bottom: 27px;
}

.advantages__img {
  position: absolute;
  top: 10px;
  left: 20px;
}

.advantages__text {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  margin-bottom: 15px;
  padding-left: 70px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__paragraph {
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 30px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}
