.advantages__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__description {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.advantages__item--town,
.advantages__item--bridge {
  background-color: #81b3d2;
  color: #ffffff;
}
