.baner__wrap {
  height: 385px;
  background: url(../img/bg-intro-triangle-mobile.svg) no-repeat,
              url(../img/text-sedona-index.svg) no-repeat,
              url(../img/bg-back-mobile@1x.jpg) no-repeat;
  background-size: 105% auto, 280px auto, 768px auto;
  background-position: center bottom, 50% 50%;
}
