.description__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
}

.description__wrap--bridge {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
}
}

.description__text {
  @media (min-width: $tablet-width) {
    width: 33%;

    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;
}
}

.description__pic {
  background-size: cover;
  min-height: 260px;
  display: flex;
  position: relative;
  overflow: hidden;
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 67%;
}
}

.description__title {
  margin: 0;
  margin-top: 5px;
  padding-top: 80px;
  padding-bottom: 7px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url(../img/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    font-size: 21px;
    padding-top: 45px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: none;
}
}

.description__paragraph {
  margin: 0;
  padding-bottom: 28px;
  padding-left: 26px;
  padding-right: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    padding: 0 42px 20px 42px ;
}
}



.description__title--bridge {
  padding-top: 40px;
  background-image: none;
  @media (min-width: $tablet-width) {
    padding-top: 45px;
}
}
