@import "variables.scss";

.footer__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hashtag__text {
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.copyright {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 15px;
  position: relative;
}

.copyright__text {
  margin: 0 auto;
  padding-right: 35px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.copyright__item--link {
  position: absolute;
  right: -2px;
}
