.form__title,
.form__label--description {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.form__label--text {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}

.form__input--text::placeholder,
.form__textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.form__label--check {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
