.greeting__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting__title {
  margin: 44px 0 28px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin: 0 auto;
    padding-top: 70px;
  }
}

.greeting__title--video {
  margin-top: 26px;
}

.greeting__text {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 30px 170px 55px;;
  }
}
