.greeting__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting__title {
  padding: 20px 0 13px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin: 0 auto;
    padding: 72px 0 0 0;
  }

  @media (min-width: $tablet-width) {
    padding: 110px 0 0 0;
  }
}

.greeting__title--video {
  padding: 10px 0 13px 0;

  @media (min-width: $desktop-width) {
    padding: 65px 0 30px 0;
  }
}

.greeting__text {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 32px 170px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 350px 55px;
  }
}

.greeting__text--video {
  padding: 0 30px 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 170px 75px 170px;
  }
}
