.hotel-search__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel-search__title {
  margin: 0 auto;
  padding-top: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $tablet-width) {
    padding-top: 60px;
    font-size: 30px;
    line-height: 26px;
}
}

.hotel-search__decriprtion {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $tablet-width) {
    padding: 17px 160px 0;
}
  @media (min-width: $desktop-width) {
    padding: 17px 375px 0;
}
}

.button__warp {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  @media (min-width: $tablet-width) {
    margin-top: 27px;
}

  @media (min-width: $desktop-width) {
    margin-top: 30px;
}
}

.hotel-search__button {
  margin-bottom: 48px;
  }
