.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.hotel-search__decriprtion {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.hotel-search__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}
