.main-nav__list {
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #678fa8;
}
