@import "variables.scss";

.nav {
  display: flex;
  flex-direction: column;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-align: center;
}

.nav__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
