@import "variables.scss";

.photo-video__title {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__description {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.photo__list {
  padding-left: 20px;
  padding-right: 20px;
}

.photo__item-text {
  display: flex;
  flex-direction: column;
}

.photo__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__autor {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.photo__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .photo-video__title {
    font-size: 30px;
    line-height: 26px;
  }

  .photo__list {
    padding-left: 60px;
    padding-right: 60px;
  }

  .photo__list {
    display: flex;
    flex-wrap: wrap;
  }
  .photo__item:first-child {
    flex-basis: 100%;
  }

  .photo__item:nth-child(2),
  .photo__item:nth-child(3), {
    width: 50%;
  }

  .photo__autor {
    align-self: flex-start;
    order: 3;
  }

  .photo__likes {
    align-self: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .photo__item:nth-child(2),
  .photo__item:nth-child(3),
  .photo__item:nth-child(4) {
    width: 33%;
  }
}
