@import "variables.scss";

.photo-page {
  display: flex;
  flex-direction: column;
}

.photo__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin: 0 auto;
  }
}

.photo__item {
  margin-top: 19px;
  margin-bottom: 23px;
  font-size: 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photo__item--sunset {
  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}

.photo__item--bridge {
  @media (min-width: $tablet-width) {
    margin-right: 322px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.photo__sign {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: #f2f2f2;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.5;
    color: #ffffff;
    background-color: #000000;
  }
}

.photo__sign--sunset {
  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.photo__sign--roads {
  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    background-color: #000000;
  }
}

.photo__text {
  margin: 12px 0 0 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-left: 20px;
  }
}

.photo__autor {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-left: 20px;
  }
}

.photo__likes {
  padding-top: 7px;
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 2;
    position: absolute;
    right: 19px;
  }
}

.photo__likes--cactus {
  @media (min-width: $tablet-width) {
    right: 29px;
  }
}

.photo__likes--roads {
  @media (min-width: $tablet-width) {
    right: 36px;
  }
}

.photo__likes--bridge {
  @media (min-width: $tablet-width) {
    right: 30px;
  }
}

.photo__likes::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  background-image: url("../img/icon-like-b2b2b2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
