.photo-video__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.photo__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__autor {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.photo__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.video__title {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.video__description {
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}
