@import "variables.scss";

.photo-page {
  display: flex;
  flex-direction: column;
}

.photo__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photo__item {
  margin-top: 19px;
  margin-bottom: 23px;
}

.photo__item--sunset {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-right: 50px;
  }
}

.photo__sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo__text {
  margin: 12px 0 0 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__autor {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
}

.photo__likes {
  padding-top: 7px;
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__likes::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left:2px;

  background-image: url("../img/icon-like-b2b2b2.svg");
  background-size: cover;
}
