.reviews__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.reviews__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}
