.vantages__wrap {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: center;
      align-items: center;

    }

}

.vantages__item {
margin-top: 20px;
margin-bottom: 17px;
  @media (min-width: $tablet-width) {
    width: 33%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.vantages__item:last-child {
  margin-bottom: 10px;
    @media (min-width: $tablet-width) {
      margin-bottom: 17px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 37px;
    }
}

.vantages__title {
  margin: 0 auto;

  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
    @media (min-width: $tablet-width) {
      padding: 27px 47px 10px 47px;
      font-size: 21px;
    }

    @media (min-width: $desktop-width) {
      padding: 27px 137px 10px 137px;

    }
}

.vantages__paragraph {
  margin: 0 auto;
  margin-bottom: 14px;
  padding-left: 25px;
  padding-right: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
    @media (min-width: $tablet-width) {
      padding: 0 45px 8px;
    }

    @media (min-width: $desktop-width) {

      padding: 0 30px 8px;
    }
}

.vantages__paragraph--tourist {
  @media (min-width: $desktop-width) {
    padding: 0 35px 8px;
  }
}
