.vantages__wrap {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;

}

.vantages__item {
margin-top: 20px;
margin-bottom: 17px;
}

.vantages__item:last-child {
  margin-bottom: 10px;
}

.vantages__title {
  margin: 0 auto;

  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.vantages__paragraph {
  margin: 0 auto;
  margin-bottom: 14px;
  padding-left: 25px;
  padding-right: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}
