.video__title {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.video__description {
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.video__wrapper {
  margin-left: auto;
  margin-right: auto;
}
